@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="/css/custom-theme.css"> 

<div class="container mt-5">

    <div class="jumbotron text-center custom-hero">
        <h1 class="display-4">Welcome to Party Manager!</h1>
        <p class="lead">View and/or update the details of the characters in the party, while allowing DM's easy player management'</p>
    </div>


    <section class="mt-5">
        <div class="row text-center">

            <div class="col-md-4">
                <div class="card shadow border-0 custom-card">
                    <div class="card-body">
                        <h5 class="card-title">Party List</h5>
                        <p class="card-text">See the list of accounts in your party, and their role</p>
                        <a href="@Url.Action("Index", "User")" class="btn btn-custom" aria-label="Go to Party Management Page">
                            <i class="fas fa-users"></i> Go to Party
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card shadow border-0 custom-card">
                    <div class="card-body">
                        <h5 class="card-title">Assign Roles</h5>
                        <p class="card-text">Assign roles to users to manage their permissions.</p>
                        <a href="@Url.Action("AddRole", "Home")" class="btn btn-custom" aria-label="Go to Add Role Page">
                            <i class="fas fa-user-shield"></i> Add Role
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card shadow border-0 custom-card">
                    <div class="card-body">
                        <h5 class="card-title">Character Hub</h5>
                        <p class="card-text">View and update your characters.</p>
                        <a href="@Url.Action("Index", "Character")" class="btn btn-custom" aria-label="Go to Character Hub Page">
                            <i class="fas fa-user"></i> Characters
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>