html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #ede3da;
}

.custom-hero {
    background: linear-gradient(135deg, #FFC107, #FF5722); 
    color: white;
    padding: 2.5rem 1rem;
    border-radius: 10px;
}


.custom-card {
    background-color: #FFF3E0; 
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

.custom-card:hover {
    transform: scale(1.05); 
}


.btn-custom {
    background-color: #FF5722;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

.btn-custom:hover {
    background-color: #E64A19;
    color: #FFF3E0;
}


.btn-custom:focus {
    outline: 3px solid #FFC107; 
}

.search-box {
    font-size: 1.2rem;
    padding: 10px;
    border: 2px solid #8B0000;
    border-radius: 5px;
}


.custom-table {
    background-color: #FFEFD5; 
    border-color: #8B0000; 
}

.custom-table th,
.custom-table td {
    border: 2px solid #8B0000;
}


.custom-table thead {
    background-color: #FAE1D9;
}